/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */


.node /* Node wrapper */ {
padding: 1em 0 0 1em;
background-color:lightcyan;
border:1px #00cc00 solid;
border-radius:10px;
margin-bottom: 1.5em;
box-shadow:5px 5px 5px #ccc;
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}

.node-promoted /* A node that has been promoted to the front page */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}


.node-teaser .field-type-image {
float:right;
}


/* All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page /* Page content node */ {
}

.node-article /* Article content node */ {
}

h2.node-title /* Node title */ {
display: block;
margin:-14px 0 0 -14px;
background: url(../images/navbar.png);
padding:.5em 0 .4em 1em;
border-radius:10px 10px 0 0;
}

.node .user-picture /* The picture of the node author */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .content /* Node's content wrapper */ {
margin-left: -14px;
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
border-top: 1px dotted #0c0;
clear:both;
margin-left:-14px;
padding-left:1em;
background-color: lightgreen;
margin-bottom: 0;
border-radius:0 0 10px 10px
}

.node-author {
display:none;
}

.node-readmore a{
padding:.5em 1em 1em .5em;
}

.title-author .node-title {
padding-left:10px;
}
